manuscript

.ipynb_checkpoints

gmt.history

Figures/ipynb_checkpoints/*
Figures/gmt.history

Figures/outputs/*
!Figures/outputs/.gitkeep
!Figures/outputs/cover_fig.jpg
!Figures/outputs/all_ROSETTA_lines

Figures/outputs/all_ROSETTA_lines/*
!Figures/outputs/all_ROSETTA_lines/.gitkeep

data/tmp/*
!data/tmp/.gitkeep

data/input/BedMachineAntarctica_2020-07-15_v02.nc
data/input/moa750_2009_hp1_v1.1.tif

data/results/BedMachine_bed_wgs.nc
data/results/rs.csv
data/results/rs_mag.csv


