manuscript

.ipynb_checkpoints

Figures/ipynb_checkpoints
Figures/outputs
Figures/gmt.history

data/tmp
data/other
data/input/BedMachineAntarctica_2020-07-15_v02.nc
data/input/moa750_2009_hp1_v1.1.tif
data/input/RIS123_1Hz_intermediate_basement.csv
data/input/RIS123_1Hz_intermediate_Werner_2021_500_to_50k.csv

data/results/rs.csv
data/results/rs_mag.csv

gmt.history